img {
    width: 2000px;
    height: 100%;
    background-image: url("https://unsplash.com/photos/AEeoY_aqvNk");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}