.brand {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 40px;
}

nav {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 30px;
}

Link {
    padding: 10px;
}

